{
  "__inherits": "staxel/docks/dockBase.config",
  "dockDefinition": "mods.mb.EasterFest.toketsupuurin.dock.egg.Futon",
  "stepSoundGroup": "staxel.sounds.WoodFootSteps",
  "compound": {
    "size": {
      "x": 3,
      "y": 2,
      "z": 2
    },
    "specification": "CCC CCC CXE CCE"
  },
  "interactVerb": "controlHint.verb.Sit"
}
