{
  "__inherits": "staxel/docks/dockBase.config",
  "dockDefinition": "mods.mb.EasterFest.lydocia.furniture.EggOneSeaterStool.dock",
  "stepSoundGroup": "staxel.sounds.WoodFootSteps",
  "compound": {
    "size": {
      "x": 2,
      "y": 1,
      "z": 1
    },
    "specification": "XC"
  },
  "interactVerb": "controlHint.verb.Sit"
}
