{
  "__inherits": "staxel/docks/dockBase.config",
  "wallPushOut": false,
  "dockDefinition": "mods.mb.EasterFest.toketsupuurin.EggWallMountedShelf.Dock",
  "autoTileInfo": [
    {
      "directionsToLookIn": [
        {
          "direction": "left",
          "tileCategoriesToLookFor": [
            "block"
          ]
        }
      ],
      "results": [
        {
          "rotation": 2
        }
      ]
    },
    {
      "directionsToLookIn": [
        {
          "direction": "back",
          "tileCategoriesToLookFor": [
            "block"
          ]
        }
      ],
      "results": [
        {
          "rotation": 3
        }
      ]
    },
    {
      "directionsToLookIn": [
        {
          "direction": "front",
          "tileCategoriesToLookFor": [
            "block"
          ]
        }
      ],
      "results": [
        {
          "rotation": 1
        }
      ]
    }
  ],
  "randomizePosition": false,
  "attachToBelow": false,
  "attachToSide": true,
  "placementDirections": [
    "xp"
  ]
}
